<div class="row">

    <div class="col-md-2 col-sm-2 ">

    </div>

    <div class="col-md-5 col-sm-5 ">
        <h2> {{pageTitle}}</h2>
        <hr>

        <table class="table table-striped table-bordered table-responsive">
            <thead class="bg-success">
                <tr>
                    <th>City Name</th>
                    <th>Population</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let province of provinces'>
                    <td *ngIf='province.provinceName == pageTitle'>
                        <div *ngFor='let city of province.topCities' style="padding-top:10px">
                            {{city.cityName}}
                        </div>
                    </td>
                    <td *ngIf='province.provinceName == pageTitle'>
                        <div *ngFor='let city of province.topCities' style="padding-top:10px">
                            {{city.cityPopulation}}
                        </div>

                    </td>
                </tr>

            </tbody>
        </table>
        <a [routerLink]="['/provinces']"> <button class='btn btn-success'>BACK </button></a>

    </div>
    <div class="col-md-5 col-sm-5 ">

    </div>
</div>